/DB/world_db.zip filter=lfs diff=lfs merge=lfs -text
/EQ2/source/LoginServer/EQ2[[:space:]]Login.ncb filter=lfs diff=lfs merge=lfs -text
/EQ2/source/LoginServer/EQ2[[:space:]]Login.sdf filter=lfs diff=lfs merge=lfs -text
/server/EQ2World__Debug_x64.exe filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/mariadb-10.1.19/lib/32-debug/mysqlclient.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/mariadb-10.1.19/lib/32/mysqlclient.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/mariadb-10.1.19/lib/64-debug/mysqlclient.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/mariadb-10.1.19/lib/64/mysqlclient.lib filter=lfs diff=lfs merge=lfs -text
/Content/eq2_item_icons.zip filter=lfs diff=lfs merge=lfs -text
/server/EQ2World__Debug.exe filter=lfs diff=lfs merge=lfs -text
/server/Maps/adv02_dun_sundered_splitpaw.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/adv04_rgn_village.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/antonica.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/avatar_arena.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/battleground_ctf.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/battleground_nodes.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/befallen.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/blackburrow.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/cazicthule.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/character_create.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/commonlands.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/darklight_wood.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/deathfist.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/dyod_crushbone_layout03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/dyod_lairofscale_layout01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/enchanted.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/everfrost.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/everfrost_frostfell.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/everfrost_frostfell_new01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_cty_majdul.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_clefts_of_rujark.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_living_tombs.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_poets_palace.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_shimmering_citadel.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_silent_city.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_rgn_pillars_of_flame.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_rgn_sinking_sands.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_dragon_necropolis.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_halls_of_fate.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_lair_of_scale.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_shrines_of_sky.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_rgn_realm_of_dawn.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_rgn_realm_of_night.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_rgn_realm_of_night_epic.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_rgn_realm_of_twilight.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_castle_mistmoore.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_crushbone_keep.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_estate_of_unrest.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_felwithe.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_kaladim.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_mistmoore_catacombs.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_butcherblock.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_emerald_halls.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_greater_faydark.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_lesser_faydark.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_loping_plains.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_steamfont.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_dun_chardok.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_dun_chelsith.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_dun_karnors_castle.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_dun_sebilis.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_dun_veeshans_peak.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_befallen_asylum.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_befallen_forsaken.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_guk_stronghold.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_guk_stronghold_raid.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_guk_upper.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_korsha.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_mistmoore_abbey.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_mistmoore_manor.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_mistmoore_repository.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_najena_atheneum.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_najena_hollow.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_dun_void_palace.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_rgn_innothule.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_erudin_erudin01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_erudin_erudin02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_erudin_erudin03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_sentinal.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_thehole.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_thehole_raid.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_thehole_wing3.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_vastydeep01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_dun_vastydeep02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_rgn_odus_north.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_rgn_odus_south.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_rgn_odus_south_kerra.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_drunder_sullon_spire.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_drunder_tallon_stronghold.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_drunder_vallon_tower.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_kael_drakkel.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_kael_throne.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_kraytocs_fortress.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_toweroffrozenshadow.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_velks_forgotten_pools.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_sirensgrotto01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_lower01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_sleepers_tomb.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_sleepers_tomb_destroyed.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_sleepers_tomb_epic01_chitari.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_rgn_velious_cobalt_scar.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_rgn_withered_lands.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_rgn_withered_lands_epic01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_dun_deepchelsith.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_dun_drinals_castle.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_dun_temple_of_faceless.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_dun_wurmbones_end.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_dun_wurmbones_end_x2.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_rgn_eidolon_jungle.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_rgn_plains_of_obol.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_bixie_hive.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_highkeep.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_highkeep_contested.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_pickclaw.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_shissarraid01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_shissarstratum01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_shissartemple01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_temple_of_veeshan.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_rgn_dragons_realm.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_cathedral_of_bone.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_cathedral_of_bone_heroic.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_highhold.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_highhold_action.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_highhold_night.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_pirate_cove.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_pirate_cove_01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_pirate_cove_02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_pirate_cove_03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_pirate_cove_raid.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_rum_cellar.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_rumcellar_island.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_ssraeshza.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_ssraeshza_raid.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp_07_thurgadin_velious.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fallengate.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/feerrott.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_east.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_guildhall_tier3.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_guildhall_tier4.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_hood03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_hood04.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_hood06.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_north.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_sewer01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_sewer02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_sewer03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_west.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/freeport_combined.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/guildhall_highkeep.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/guildhall_highkeep_tier2.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/halas.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/highhold_guildhall.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/home_citadel.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/home_sirens.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/home_tutorial.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/lavastorm.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/mod01_dun_crypt_of_thaen.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/mod01_dun_tombs_of_night.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/nektropos_castle.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/nektulos.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/neriak.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/obelisk_of_lostsouls.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/orcishwastes.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/orcishwastes_mini01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/permafrost.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/permafrost_frostfell.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_catacomb01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_catacomb02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_catacomb03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_guildhall_tier3.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_guildhall_tier4.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_harbor.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_north.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_south.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_village03.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_village03_revamp.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qeynos_combined01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qeynos_combined02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/rivervale.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/runnyeye.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/runnyeye_advanced.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/shard_of_fear.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/shard_of_hate.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/shard_of_love.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/shard_of_love02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/solusekseye.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/steppes.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/tutorial_island02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/varsoon.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/wailingcaves.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/adv02_dun_drowned_caverns.EQ2Map filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_fiber-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_fiber-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_graph-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_graph-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_locale-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_locale-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_locale-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log_setup-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log_setup-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log_setup-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_log_setup-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1f-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1f-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1f-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1l-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1l-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_math_tr1l-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_program_options-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_program_options-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_python38-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_python38-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_regex-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_regex-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_regex-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_regex-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_serialization-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_serialization-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_serialization-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_serialization-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_test_exec_monitor-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_test_exec_monitor-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_test_exec_monitor-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_test_exec_monitor-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_unit_test_framework-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_unit_test_framework-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_unit_test_framework-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_unit_test_framework-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wave-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wave-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wave-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wave-vc142-mt-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wserialization-vc142-mt-gd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wserialization-vc142-mt-s-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/lib64-msvc-14.2/libboost_wserialization-vc142-mt-sgd-x64-1_72.lib filter=lfs diff=lfs merge=lfs -text
/EQ2/source/depends/boost_1_72_0/libs/math/doc/math.pdf filter=lfs diff=lfs merge=lfs -text
/installer/zeklabs-eq2emu.exe filter=lfs diff=lfs merge=lfs -text
/EQ2/devtools/EQ2ModelViewer/EQ2ModelViewer/bin/Release/tutorial_island02.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_rgn_kylong_plains.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/feerrott_epic01_temple.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/fprt_south.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/home_oakmyst.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_adv01_oakmyst.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_adv02_ruins.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_adv04_bog.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_elddar.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_ph_5r01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_village06.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_village06_revamp.EQ2Map filter=lfs diff=lfs merge=lfs -text
/EQ2/devtools/EQ2ModelViewer/EQ2ModelViewer/bin/Debug/loaded.txt filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_lair_of_scale_epic01_seeing.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_lair_of_scale_epic02_hallowed.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp02_dun_shrines_of_sky_epic01_vaults.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_castle_mistmoore_epic01_coffinchamber.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_crushbone_keep_epic01_throne.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_dun_crushbone_keep_epic02_boss.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01_scorched.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01_scorched_arcane.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01_scorched_capital.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01_scorched_market.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_shissartemple01_forgotten.EQ2Map filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/antonica.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/commonlands.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/feerrott.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/lavastorm.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/nektulos.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/rivervale.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/nav/steppes.nav filter=lfs diff=lfs merge=lfs -text
/server/Maps/antonica.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/commonlands.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/darklight_wood.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_clefts_of_rujark.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_poets_palace.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_dun_shimmering_citadel.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_rgn_pillars_of_flame.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp01_rgn_sinking_sands.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_butcherblock.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_greater_faydark.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_lesser_faydark.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_loping_plains.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp03_rgn_steamfont.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp04_rgn_kylong_plains.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp05_rgn_innothule.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_rgn_odus_north.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp06_rgn_odus_south.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_kael_drakkel.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp07_dun_toweroffrozenshadow.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_dun_skyshrine_courtyard01_scorched.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_rgn_velious_cobalt_scar.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp08_rgn_withered_lands.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_dun_drinals_castle.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_rgn_eidolon_jungle.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp09_rgn_plains_of_obol.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_highkeep.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_highkeep_contested.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_dun_temple_of_veeshan.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp10_rgn_dragons_realm.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_cathedral_of_bone.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_cathedral_of_bone_heroic.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_highhold.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/exp11_dun_highhold_night.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/feerrott.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/freeport_combined.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/lavastorm.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/nektulos.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/neriak.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/orcishwastes.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_catacomb01.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_catacomb02.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/qey_catacomb03.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/qeynos_combined01.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/qeynos_combined02.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/rivervale.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/solusekseye.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/steppes.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/server/Maps/varsoon.EQ2MapDeflated filter=lfs diff=lfs merge=lfs -text
/EQ2/devtools/EQ2ModelViewer/EQ2ModelViewer/bin/Release/loaded.txt filter=lfs diff=lfs merge=lfs -text
